Repository mhiro2/i18n-status.nvim: changes, and which lefthook commands are due for each by the changed paths.
All: selene, stylua, rustfmt

lefthook.yaml:

output:
  - summary
  - meta

pre-commit:
  parallel: true
  commands:
    selene:
      glob: "{lua,plugin,tests}/**/*.lua"
      run: selene {staged_files}
    stylua:
      glob: "*.lua"
      run: stylua --check {staged_files}
    rustfmt:
      glob: "rust/**/*.rs"
      run: make rustfmt-check
    typos:
      run: typos {staged_files}

pre-push:
  parallel: true
  commands:
    lint:
      run: make lint
    test:
      run: make test

fix(render): guard against nil resolved items to prevent crash
  lua/i18n-status/render.lua
Due: selene, stylua

fix(resource_io): return success/failure from write_json_table
  lua/i18n-status/key_write.lua
  lua/i18n-status/ops.lua
  lua/i18n-status/resource_io.lua
  lua/i18n-status/resources.lua
  lua/i18n-status/review_actions.lua
Due: selene, stylua

fix(resource_io): use hrtime in temp file name to avoid collisions
  lua/i18n-status/resource_io.lua
Due: selene, stylua

fix(render): reset highlights on ColorScheme change
  lua/i18n-status/render.lua
Due: selene, stylua

test(failure): add regression tests for resolve/write failure paths
  tests/integration/failure_spec.lua
Due: selene, stylua

fix(rpc): cleanup pending sync requests on timeout
  lua/i18n-status/rpc.lua
  tests/unit/rpc_spec.lua
Due: selene, stylua

fix(watcher): avoid duplicate resolveRoots on setup
  lua/i18n-status/init.lua
  lua/i18n-status/resources.lua
  tests/unit/resources_spec.lua
  tests/unit/setup_spec.lua
Due: selene, stylua

fix(rust-rpc): skip blank lines before EOF
  rust/src/rpc.rs
Due: rustfmt

fix(doctor): surface scan errors and listing cancellation
  rust/src/doctor.rs
  rust/tests/doctor_test.rs
Due: rustfmt

fix(scan): make const resolution scope-aware
  rust/src/scan.rs
  rust/tests/scan_test.rs
Due: rustfmt

fix(doctor): unify ignore pattern semantics with rust
  lua/i18n-status/doctor.lua
  tests/unit/doctor_spec.lua
Due: selene, stylua

fix(review): stabilize view item ordering
  lua/i18n-status/review.lua
  tests/integration/review_spec.lua
Due: selene, stylua

refactor(init): lazy-load runtime modules
  lua/i18n-status/init.lua
  tests/unit/init_spec.lua
Due: selene, stylua

feat(extract): switch no-hook confirmation to select
  lua/i18n-status/extract.lua
  tests/unit/extract_spec.lua
Due: selene, stylua

fix(extract): harden rpc failure handling and mixed-width replacements
  lua/i18n-status/extract.lua
  lua/i18n-status/hardcoded.lua
  lua/i18n-status/rpc.lua
  rust/src/main.rs
  rust/src/rpc.rs
  tests/integration/extract_spec.lua
  tests/unit/extract_spec.lua
  tests/unit/hardcoded_rpc_spec.lua
  tests/unit/rpc_spec.lua
Due: selene, stylua, rustfmt

feat(scan): support TypeScript type assertion unwrapping in key resolution
  rust/src/scan.rs
  rust/tests/scan_test.rs
Due: rustfmt

feat(scan): resolve template literals with const expressions
  rust/src/scan.rs
  rust/tests/scan_test.rs
Due: rustfmt

feat(scan): emit multiple keys from conditional expressions
  rust/src/scan.rs
  rust/tests/scan_test.rs
Due: rustfmt

docs: update dynamic key support documentation
  README.md
  doc/i18n-status.txt
Due: none

perf(scan): cache buffer source and gate context retries
  lua/i18n-status/scan.lua
  tests/unit/scan_spec.lua
Due: selene, stylua

docs: clarify json indexing and add-key write behavior
  README.md
  doc/i18n-status.txt
Due: none

fix(ops): propagate buffer rename edit failures
  lua/i18n-status/ops.lua
  tests/unit/ops_spec.lua
Due: selene, stylua

fix(rust): avoid panic on poisoned index cache lock
  rust/src/resource/index.rs
Due: rustfmt

fix(path): sanitize definition and rename file paths
  lua/i18n-status/actions.lua
  lua/i18n-status/ops.lua
  tests/unit/actions_spec.lua
  tests/unit/ops_spec.lua
Due: selene, stylua

fix(key-write): make multilingual writes atomic
  lua/i18n-status/key_write.lua
  tests/unit/key_write_spec.lua
Due: selene, stylua

perf(core): make refresh_all use async refresh path
  lua/i18n-status/core.lua
  tests/integration/resource_change_spec.lua
Due: selene, stylua

perf(doctor): send only changed open buffers with size cap
  lua/i18n-status/doctor.lua
  tests/unit/doctor_run_spec.lua
Due: selene, stylua

test: stabilize specs after watcher fallback changes
  lua/i18n-status/ops.lua
  tests/integration/resource_change_spec.lua
  tests/unit/actions_spec.lua
  tests/unit/doctor_run_spec.lua
Due: selene, stylua

fix(watcher): add polling fallback on startup failure
  lua/i18n-status/watcher.lua
  tests/integration/resource_change_spec.lua
  tests/unit/watcher_spec.lua
Due: selene, stylua

ci: add dependabot and cargo-deny license check
  .github/dependabot.yml
  .github/workflows/ci.yaml
  Makefile
  lefthook.yaml
  rust/Cargo.toml
  rust/deny.toml
Due: none

feat(util): add split_i18n_key helper function
  lua/i18n-status/util.lua
Due: selene, stylua

feat(review_ui): add highlight definitions for extract diff
  lua/i18n-status/review_ui.lua
Due: selene, stylua

feat(extract): add extract_diff module for diff preview
  lua/i18n-status/extract_diff.lua
  tests/unit/extract_diff_spec.lua
Due: selene, stylua

feat(extract): add extract_review module with Review UI
  lua/i18n-status/extract_review.lua
  tests/integration/extract_review_spec.lua
  tests/unit/extract_review_spec.lua
Due: selene, stylua

refactor(extract): simplify orchestrator to use Review UI
  lua/i18n-status/extract.lua
  tests/integration/extract_spec.lua
  tests/unit/extract_spec.lua
Due: selene, stylua

refactor(resources): extract apply_changes helper and improve type annotations
  lua/i18n-status/resource_io.lua
  lua/i18n-status/resources.lua
  lua/i18n-status/review.lua
Due: selene, stylua

refactor(ui): extract shared review ui patterns
  lua/i18n-status/extract_review.lua
  lua/i18n-status/review.lua
  lua/i18n-status/review_shared_ui.lua
  tests/unit/review_shared_ui_spec.lua
Due: selene, stylua

chore(deps): align swc versions and group dependabot
  .github/dependabot.yml
  rust/Cargo.lock
  rust/Cargo.toml
Due: none

refactor(resources): add focused resource services
  lua/i18n-status/resource_cache.lua
  lua/i18n-status/resource_queries.lua
  lua/i18n-status/resource_roots.lua
  lua/i18n-status/resource_watch_service.lua
  tests/unit/resource_queries_spec.lua
  tests/unit/resource_roots_spec.lua
Due: selene, stylua
