Repository mhiro2/i18n-status.nvim: changes, and which lefthook commands are due for each by the changed paths.
All: selene, stylua, rustfmt

lefthook.yaml:

output:
  - summary
  - meta

pre-commit:
  parallel: true
  commands:
    selene:
      glob: "{lua,plugin,tests}/**/*.lua"
      run: selene {staged_files}
    stylua:
      glob: "*.lua"
      run: stylua --check {staged_files}
    rustfmt:
      glob: "rust/**/*.rs"
      run: make rustfmt-check
    typos:
      run: typos {staged_files}

pre-push:
  parallel: true
  commands:
    lint:
      run: make lint
    test:
      run: make test

refactor(resources): slim resource facade
  lua/i18n-status/resources.lua
Due: selene, stylua

refactor(ui): share review rendering modules
  lua/i18n-status/extract_review.lua
  lua/i18n-status/extract_review_apply.lua
  lua/i18n-status/review.lua
  lua/i18n-status/review_buffers.lua
  lua/i18n-status/review_filters.lua
  lua/i18n-status/review_sections.lua
Due: selene, stylua

test(review): add action handler coverage
  tests/unit/review_actions_spec.lua
Due: selene, stylua

refactor(scan): split rust scan modules
  rust/src/scan.rs
  rust/src/scan/call_extract.rs
  rust/src/scan/const_eval.rs
  rust/src/scan/const_eval/tests.rs
  rust/src/scan/mod.rs
  rust/src/scan/parser.rs
  rust/src/scan/resource_json.rs
  rust/src/scan/scope.rs
Due: rustfmt

test(scan): cover server hooks and root resources
  rust/tests/scan_test.rs
Due: rustfmt

refactor(util): split helper modules by responsibility
  lua/i18n-status/actions.lua
  lua/i18n-status/core.lua
  lua/i18n-status/doctor.lua
  lua/i18n-status/extract_diff.lua
  lua/i18n-status/extract_review_apply.lua
  lua/i18n-status/filetypes.lua
  lua/i18n-status/fs.lua
  lua/i18n-status/hardcoded.lua
  lua/i18n-status/health.lua
  lua/i18n-status/init.lua
  lua/i18n-status/json.lua
  lua/i18n-status/key_write.lua
  lua/i18n-status/ops.lua
  lua/i18n-status/render.lua
  lua/i18n-status/resource_cache.lua
  lua/i18n-status/resource_io.lua
  lua/i18n-status/resource_queries.lua
  lua/i18n-status/resource_roots.lua
  lua/i18n-status/resource_watch_service.lua
  lua/i18n-status/review_actions.lua
  lua/i18n-status/review_buffers.lua
  lua/i18n-status/scan.lua
  lua/i18n-status/text.lua
  lua/i18n-status/ui.lua
  lua/i18n-status/util.lua
  lua/i18n-status/watcher.lua
  lua/i18n-status/window.lua
  tests/unit/extract_diff_spec.lua
  tests/unit/key_write_spec.lua
  tests/unit/review_actions_spec.lua
  tests/unit/util_spec.lua
Due: selene, stylua

test(util): add direct specs for extracted helpers
  tests/unit/filetypes_spec.lua
  tests/unit/fs_spec.lua
  tests/unit/json_spec.lua
  tests/unit/text_spec.lua
  tests/unit/window_spec.lua
Due: selene, stylua

fix(test): guard after_each cleanup against invalidated windows on Neovim nightly
  tests/integration/extract_review_spec.lua
Due: selene, stylua

fix(test): no-op treesitter.start for markdown on Neovim nightly
  tests/minimal_init.lua
Due: stylua

fix(test): use candidate metadata instead of buffer text search
  tests/integration/extract_review_spec.lua
Due: selene, stylua

docs: update README with new badges and links
  README.md
Due: none

feat(treesitter): drop nvim-treesitter test dependency
  Makefile
  lua/i18n-status/health.lua
  lua/i18n-status/init.lua
  lua/i18n-status/review_buffers.lua
  lua/i18n-status/treesitter.lua
  tests/helpers.lua
  tests/integration/add_key_spec.lua
  tests/integration/extract_review_spec.lua
  tests/integration/review_spec.lua
  tests/minimal_init.lua
  tests/unit/hardcoded_spec.lua
  tests/unit/namespace_spec.lua
  tests/unit/ops_spec.lua
  tests/unit/resources_spec.lua
  tests/unit/treesitter_spec.lua
Due: selene, stylua

docs(setup): clarify Neovim 0.12 treesitter requirements
  README.md
  doc/i18n-status.txt
Due: none

fix(json): prevent locale write-path data corruption
  README.md
  doc/i18n-status.txt
  lua/i18n-status/json.lua
  lua/i18n-status/key_write.lua
  lua/i18n-status/ops.lua
  lua/i18n-status/review_actions.lua
  tests/unit/json_spec.lua
Due: selene, stylua

fix(core): keep the server alive on handler panics and deep input
  rust/src/hardcoded.rs
  rust/src/main.rs
  rust/src/resource/index.rs
  rust/src/scan/mod.rs
  rust/src/scan/parser.rs
  rust/src/scan/resource_json.rs
  rust/src/util.rs
Due: rustfmt

fix(scanner): return symbol-bound byte-accurate references
  README.md
  doc/i18n-status.txt
  lua/i18n-status/blink.lua
  lua/i18n-status/extract.lua
  lua/i18n-status/extract_review.lua
  lua/i18n-status/extract_review_apply.lua
  lua/i18n-status/ops.lua
  lua/i18n-status/render.lua
  lua/i18n-status/scan.lua
  lua/i18n-status/types.lua
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/hardcoded.rs
  rust/src/scan/call_extract.rs
  rust/src/scan/mod.rs
  rust/src/scan/parser.rs
  rust/src/scan/resource_json.rs
  rust/src/scan/scope.rs
  rust/tests/hardcoded_test.rs
  rust/tests/scan_test.rs
  tests/integration/extract_review_spec.lua
  tests/integration/failure_spec.lua
  tests/integration/render_spec.lua
  tests/unit/blink_spec.lua
  tests/unit/doctor_spec.lua
  tests/unit/extract_spec.lua
  tests/unit/fs_spec.lua
  tests/unit/ops_spec.lua
  tests/unit/scan_spec.lua
Due: selene, stylua, rustfmt

fix(scanner): decode template literal escapes
  rust/src/scan/const_eval.rs
  rust/src/scan/const_eval/tests.rs
  rust/tests/scan_test.rs
Due: rustfmt

fix(rename): make project renames transactional
  README.md
  doc/i18n-status.txt
  lua/i18n-status/ops.lua
  lua/i18n-status/project_identity.lua
  lua/i18n-status/scan.lua
  tests/integration/failure_spec.lua
  tests/integration/review_spec.lua
  tests/unit/ops_spec.lua
  tests/unit/project_identity_spec.lua
  tests/unit/scan_spec.lua
Due: selene, stylua

fix(resources): make locale mutations conflict-safe
  README.md
  doc/i18n-status.txt
  lua/i18n-status/atomic_file.lua
  lua/i18n-status/extract_review_apply.lua
  lua/i18n-status/fs.lua
  lua/i18n-status/health.lua
  lua/i18n-status/json.lua
  lua/i18n-status/key_write.lua
  lua/i18n-status/mutation_transaction.lua
  lua/i18n-status/ops.lua
  lua/i18n-status/resource_cache.lua
  lua/i18n-status/resource_catalog.lua
  lua/i18n-status/resource_io.lua
  lua/i18n-status/resource_queries.lua
  lua/i18n-status/resource_roots.lua
  lua/i18n-status/resources.lua
  lua/i18n-status/review_actions.lua
  rust/src/resource/discovery.rs
  tests/integration/failure_spec.lua
  tests/unit/actions_spec.lua
  tests/unit/fs_spec.lua
  tests/unit/json_spec.lua
  tests/unit/key_write_spec.lua
  tests/unit/mutation_transaction_spec.lua
  tests/unit/ops_spec.lua
  tests/unit/resource_catalog_spec.lua
  tests/unit/resource_queries_spec.lua
  tests/unit/resource_roots_spec.lua
  tests/unit/resources_spec.lua
  tests/unit/review_actions_spec.lua
Due: selene, stylua, rustfmt

fix(extract): preserve JSX semantics and translator context
  README.md
  doc/i18n-status.txt
  lua/i18n-status/extract.lua
  lua/i18n-status/extract_candidate.lua
  lua/i18n-status/extract_diff.lua
  lua/i18n-status/extract_review.lua
  lua/i18n-status/extract_review_apply.lua
  lua/i18n-status/key_write.lua
  lua/i18n-status/mutation_transaction.lua
  lua/i18n-status/resource_catalog.lua
  lua/i18n-status/review_buffers.lua
  lua/i18n-status/scan.lua
  lua/i18n-status/types.lua
  rust/src/hardcoded.rs
  rust/src/scan/mod.rs
  rust/src/scan/scope.rs
  rust/tests/hardcoded_test.rs
  rust/tests/scan_test.rs
  tests/integration/extract_review_spec.lua
  tests/unit/extract_diff_spec.lua
  tests/unit/extract_review_spec.lua
  tests/unit/extract_spec.lua
  tests/unit/hardcoded_spec.lua
  tests/unit/resource_catalog_spec.lua
  tests/unit/scan_spec.lua
Due: selene, stylua, rustfmt

fix(doctor): isolate diagnostics with enforceable deadlines
  README.md
  doc/i18n-status.txt
  lua/i18n-status/doctor.lua
  lua/i18n-status/resource_cache.lua
  lua/i18n-status/resource_roots.lua
  lua/i18n-status/resource_watch_service.lua
  lua/i18n-status/resources.lua
  lua/i18n-status/rpc.lua
  rust/src/doctor.rs
  rust/src/main.rs
  rust/src/rpc.rs
  rust/tests/doctor_test.rs
  rust/tests/rpc_concurrency_test.rs
  tests/unit/doctor_run_spec.lua
  tests/unit/doctor_spec.lua
  tests/unit/resources_spec.lua
  tests/unit/rpc_spec.lua
Due: selene, stylua, rustfmt

fix(install): pin core releases and enforce startup compatibility
  .gitattributes
  .github/workflows/release.yaml
  Makefile
  README.md
  core-contract.json
  doc/i18n-status.txt
  lua/i18n-status/config.lua
  lua/i18n-status/core_contract.lua
  lua/i18n-status/health.lua
  lua/i18n-status/init.lua
  lua/i18n-status/rpc.lua
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/contract.rs
  rust/src/lib.rs
  rust/src/main.rs
  rust/tests/rpc_concurrency_test.rs
  scripts/core-contract.sh
  scripts/download-binary.sh
  scripts/smoke-core-contract.sh
  scripts/verify-release-contract.sh
  tests/installer_spec.sh
  tests/release_contract_spec.sh
  tests/unit/config_spec.lua
  tests/unit/core_contract_spec.lua
  tests/unit/doctor_spec.lua
  tests/unit/health_spec.lua
  tests/unit/rpc_spec.lua
Due: selene, stylua, rustfmt

fix(build): resolve Rust 1.99 lint failures
  README.md
  doc/i18n-status.txt
  rust/Cargo.toml
  rust/src/doctor.rs
  rust/src/hardcoded.rs
  rust/src/main.rs
  rust/src/resolve.rs
  rust/src/scan/call_extract.rs
  rust/src/scan/const_eval.rs
  rust/src/scan/scope.rs
  tests/installer_spec.sh
Due: rustfmt
